<ion-header class="notch-friendly-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/workouts"></ion-back-button>
    </ion-buttons>
    <ion-title>Browse Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onSearch($event)" placeholder="Search exercises"></ion-searchbar>

  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <ion-spinner></ion-spinner>
    <p>Loading exercises...</p>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let exercise of filteredTemplates" button detail (click)="viewExerciseDetails(exercise)">
      <ion-label>
        <h2>{{ exercise.name }}</h2>
        <p *ngIf="exercise.description">{{ exercise.description }}</p>
        <p *ngIf="exercise.targetMuscleGroups?.length">
          <span *ngFor="let muscle of exercise.targetMuscleGroups; let last = last">
            {{ muscle }}{{ !last ? ', ' : '' }}
          </span>
        </p>
      </ion-label>
    </ion-item>
    
    <ion-item *ngIf="filteredTemplates.length === 0">
      <ion-label class="ion-text-center">
        No exercises found
      </ion-label> 
    </ion-item>
  </ion-list>
</ion-content>
