<ion-tabs>
  <div class="banner-container">
    <app-workout-banner></app-workout-banner>
  </div>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workouts" href="/tabs/workouts">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Workouts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
