<ion-content class="dark-theme">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="section">
    <div class="routines-header">
      <div class="section-header">Routines</div>
    </div>

    <div class="routines-actions">
      <ion-button expand="block" class="new-routine-button" routerLink="/create-routine">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        New Routine
      </ion-button>
      
      <ion-button expand="block" class="explore-button" routerLink="/browse-exercises">
        <ion-icon name="search-outline" slot="start"></ion-icon>
        Explore
      </ion-button>
    </div>

    <div class="my-routines">
      <div class="my-routines-header">
        My Routines ({{workouts.length}})
      </div>
      
      
      <div *ngIf="isLoading" class="loading-container">
        <ion-spinner></ion-spinner>
      </div>

      <div *ngIf="!isLoading && workouts.length === 0" class="empty-state">
        <p>No saved routines yet</p>
      </div>

      <div class="workout-cards">
        <div *ngFor="let workout of workouts" class="workout-card">
          <div class="workout-header">
            <h3 class="workout-title">{{workout.name}}</h3>
            <ion-button fill="clear" class="options-btn" (click)="presentOptions(workout)">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
          </div>
          
          <div class="exercise-names">
            <p class="exercise-summary">
              <ng-container *ngIf="getWorkoutExercises(workout.workoutId!).length > 0; else noExercises">
                {{ getWorkoutExerciseNames(workout.workoutId!) }}
              </ng-container>
              <ng-template #noExercises>No exercises</ng-template>
            </p>
          </div>
          
          <ion-button expand="block" class="start-button" (click)="startWorkout(workout)">
            <ion-icon name="play" slot="start"></ion-icon>
            Start Workout
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
