.workout-card {
  margin: 16px;
  border-radius: 10px;

  ion-card-title {
    font-size: 18px;
  }

  ion-list {
    margin-bottom: 16px;
  }
}

.workout-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}