.timer-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

ion-card-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: monospace;
}

ion-item-divider {
  --background: var(--ion-color-light);
  font-weight: bold;
}

.completed-set {
  --ion-background-color: var(--ion-color-success-tint);
  text-decoration: line-through;
}

ion-fab-button {
  --ion-color-base: var(--ion-color-primary);
}

.exercise-list {
  ion-item-divider {
    --background: var(--ion-color-light);
    --color: var(--ion-color-dark);
    font-weight: bold;
  }
  
  ion-item {
    --padding-start: 16px;
  }
}